
/* 초기화 시작 */

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img, video{
    max-width: 100%;
    height: auto;
}

button{
    background-color: transparent;
    border: none;
}

h1, h2, h3, h4, h5, h6{
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;  
}

/* 초기화 종료 */

/* 범용 시작 */

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.center{
    justify-content: center;
    align-items: center;
}



/* 범용 종료 */

/* 위치 분배 */

.banner {
    background-image: url(	https://www.jejudatahub.net/img/bg-header-desktop.acfbddbb.jpg);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aside {
    margin-right: 5rem;
}
section{
    display: flex;
    flex-direction: column;
}
.carousel-container {
    width: fit-content;
}

/* 배너 */
.h-30{
    height: 7.5rem;
}

.banner-title{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 16.8rem;
    font-size: 28px;
    font-weight: 700;
}

/* 사이드바 */
.aside{
    margin-top: 2.5rem;
}

ul>li>h1{
    margin-bottom: 1.5rem;
    width: 11.5rem;
}
form>ul>li{
    padding-top: 1.5rem;
    margin-top: 2.5rem;
    border-top: 1px solid #e1e1e1;
    
}
li> ul > li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
ul > li > label {
    display: flex;
}
ul > li > label > div{
    display: flex;
    padding-left: 1rem;
    font-size: 14px;
}
li> ul > li > div {
    color: #6EC3EE;
}


/* 케러셀 */
.carousel-container{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
}
.carousel > div{
    background-color: white;
    width: 27.5rem;
}
.carousel > div > h2{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 1.25rem;
}
.carousel>div>a{
    display: inline-block
}
.carousel > div > a > div{
    padding : 1.25rem;
    width: 27.5rem;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
}
.carousel>div>a>div>div{
    margin-left: 4.5rem;
}
.carousel>div>a>div>div>div{
    margin-top: 0.5rem;
    font-size: 12px;
    color: #999;
}
.carousel > div > a > div > span{
    font-size: 16px;
    line-height: 3.25rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-style: normal;
    width: 3.25rem;
    height: 3.25rem;
    float: left;
    border-radius: 4px;
    background-size: 100%;
    background-color: #224da0;
}

.carousel>div>ul{
    display: flex;
    justify-content: center;
}



/* 검색창 */
.search-container{
    border: 1px solid rgba(34, 77, 160, .1);
    border-radius: 8px;   
    background-color: #224da0;
    background-color: rgba(34, 77, 160, .1);
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.input-div{
    padding-top: 5rem;
    width: 25rem;
    display: flex;
}
.input-div>input{
    border: 1px solid #fff;
    box-shadow: 5px 15px 20px rgba(34, 77, 160, .12);
    width: 100%;
    padding: 1rem;
    border-radius: 3px;
}
.input-div > button{
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #224da0;
    background-color: #224da0;
    color: #fff;
    padding: 0.75rem 1rem;
    margin-left: 0.5rem;
}
.search-container>form>div{
    padding-bottom: 1rem;
}

.search-container > form>div>div>h1{
    color: blue;
    font-size: 13px;
}
.search-container > form>div>div>p{
    font-size: 12px;
}

/* 테이블 */
.table-container{
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.table-container > .table-top{
    display: flex;
    justify-content: space-between;
}
.table-top{
    margin-bottom: 0.75rem;
    font-size: 12px;
}
.table>form>table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #333;
    text-align: center;
    font-size: 14px;
}
thead{
    color: #999;
    border-bottom: 1px solid #e1e1e1;
}
tbody > tr{
    border-bottom: 1px solid #e1e1e1;
}
tbody > tr > td{
    height: 5rem;
}
.cellstar{
    padding: 16px 0 16px 8px;
    width: 28px;
}
.number{
    padding: 16px;
}
.data-name{
    text-align: left;
    padding: 16px;
}
.edit-date{
    padding: 16px;
}
.owner{
    padding: 16px;
}
.views{
    padding: 16px;
}
.bookmark{   
    padding: 16px;
}
.addButton{
    display: flex;
    justify-content: right;
    margin-top: 16px;
}
.addButton>button{
    padding: 11px 16px;
    font-size: 16px;
    border: 1px solid #224da0;
    background-color: #224da0;
    color: #fff;
    display: inline-block;
    zoom: 1;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    word-break: break-all;
    white-space: nowrap;
    cursor: pointer;
    vertical-align: middle;
}

.pageButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.page li{
    margin: 0.25rem;
    padding: 0.75rem 1rem;
    border-radius: 25px;
}

.page a li{
    border: 1px solid white;
}

.page a:hover li{
    border-color: #224da0;
    color: #224da0;
}
.page a.active li{
    background-color: #224da0;
    color: white;
    border-color: #224da0;
    font-weight: 600;
}