img {
    width: 11.25rem;
    height: 2rem;
}

.footer > div {
    margin : 0 22.594rem;
    margin-top: 1.25rem;
    color : rgb(125, 125, 125);
}

.footer ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.footer li {
    border-right: 0.125rem solid rgb(125, 125, 125);
    
    padding: 0 0.625rem;
    height: 1.313rem;
}

.footer li:first-child{
    padding: 0;
    padding-right: 0.625rem;
}

.footer li:last-child{
    border: 0;
}